@model List<OptimalCurrencyExchange.Web.Models.ModelsBL.Exchange>

@{
    ViewData["Title"] = "Exchanges";
}

@{
    var firstExchange = Model.First();
    var count = Math.Min(Model.Count, 10);
}

<h1>Оптимальные варианты обмена @firstExchange.CountFrom @firstExchange.CurrencyFrom в @firstExchange.CurrencyTo</h1>

@foreach (var message in (ViewBag.RelativeRate as List<string>))
{
    <p>@message</p>
}

<div>
    @for (var i = 0; i < count; i++)
    {
        var item = Model[i];
        <div>
            <p>
                Можно получить <strong>@item.CountTo @item.CurrencyTo</strong> сделав следующие шаги:
            </p>
            <ol>
                @for (var j = 0; j < item.ExchangeSteps.Count; j++)
                {
                    var step = item.ExchangeSteps[j];
                    <li>Обменять в банке @step.Bank.Name @step.CountFrom @step.CurrencyFrom на @step.CountTo @step.CurrencyTo</li>

                }
            </ol>
        </div>
    }
</div>


