@model IEnumerable<OptimalCurrencyExchange.Web.Models.ModelsDB.ExchangeRate>

@{
    ViewData["Title"] = "ExchangeRates";
}

<h1>Курсы обмена валют</h1>

@foreach (var message in (ViewBag.RelativeRate as List<string>))
{
    <p>@message</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bank.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencySale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyBuy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bank.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencySale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrencyBuy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
            </tr>
        }
    </tbody>
</table>
